/* Fontes importadas */
@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
    font-weight: bolder;
}

/* Exemplos de uso das fontes:

font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/

/* Variáveis de ambiente */
:root {
    --cor-primaria: rgba(27, 20, 38, 1);
    --cor-de-fundo: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    --cor-da-borda: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes genéricas */
.grid-layout {
    width: 90%;
    margin: 0 auto;
}

.mostrar-menu {
    left: 0 !important;
    opacity: 1 !important;
}

.mostrar-menu-usuario {
    right: 0 !important;
    opacity: 1 !important;
}

body {
    background-color: darkslateblue;
}

/* ==== HEADER ==== */

header {
    position: fixed;
    width: 100vw;
    z-index: 100;
    color: white;
    background-color: var(--cor-primaria);
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-items {
    width: 30px;
    height: 10px;
}

.menu-hamburger {
    width: 30px;
    height: 30px;
}

.logo {
    width: 86px;
    height: 25px;
}

.header-bottom {
    height: 60px;
    display: flex;
    align-items: center;
}


.logo {
    width: 86px;
    height: 25px;
}

/* HEADER => Barra lateral */
.menu {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;
    width: 80vw;
    height: calc(100vh - 60px);
    background-image: var(--cor-de-fundo);
    backdrop-filter: blur(45px);
    border-image: var(--cor-da-borda);

    display: flex;
    flex-direction: column;

    opacity: 0;
    transition: left 0.4s, opacity 0.6s;
}

/* Propriedade Align Self */

.menu > a {
    color: white;
    border-bottom: 1px solid orange;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    gap: 20px;
    
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.menu .redes-sociais {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    
    position: absolute;
    bottom: 8px;
}

.menu a:last-of-type { border: none; }

/* HEADER => Barra lateral - mais usuários */
.user-menu {
    position: fixed;
    top: 60px;
    right: -20vw;
    width: 20vw;
    height: 30vh;
    background-image: var(--cor-de-fundo);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    opacity: 0;
    transition: right 0.3s, opacity 0.6s;
}

.header-top, .menu-bar, .more-items-bar {
    display: none;
}

/* MAIN */
main {
    padding-top: 60px;
}

main .banner {
    background-image: url(../assets/images/banner-valorant.png);
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.banner h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-shadow: rgba(253, 66, 85, 1) 1px 0 10px;
}

.banner button {
    height: 40px;
    width: 170px;
    border-radius: 8px;
    border: none;
    background-color: rgba(249, 170, 1, 1);
    color: var(--cor-primaria);
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
}

/* DESKTOP (>= 768px) */
@media screen and (min-width: 768px) {
    .grid-layout { width: 80%; }

    .header-bottom {
        height: 90px;
    }
    
    .header-top { display: none; }

    .header-bottom .menu a {
        color: white;
        text-decoration: none;
    }

    .header-bottom .menu a:hover {
        color: #F9AA01;
        text-decoration: none;
    }

    .menu, .user-menu {
        display: block;
    }

    .header-top {
        display: block;
        height: 50px;
        border-bottom: 1px solid #F9AA01;
    }

    .contacts, .phone, .email {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-hamburger, .more-items {
        display: none;
    }
}
