/* Fontes importadas */
@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
    font-weight: bolder;
}

/* Reset de propriedades */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid Layout */
.grid-layout {
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: darkslateblue;
}

/* ==== HEADER ==== */

header {
    color: white;
    background-color: #1B1426;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-items {
    width: 30px;
    height: 10px;
}

.menu-hamburger {
    width: 30px;
    height: 30px;
}

.logo {
    width: 86px;
    height: 25px;
}

.header-bottom {
    height: 60px;
    display: flex;
    align-items: center;
}


.logo {
    width: 86px;
    height: 25px;
}

.menu-hamburger, .more-items {
    display: block;
}

.menu, .user-menu, .header-top, .menu-bar, .more-items-bar {
    display: none;
}

/* DESKTOP (>= 768px) */
@media screen and (min-width: 768px) {
    .grid-layout { width: 80%; }

    .header-bottom {
        height: 90px;
    }
    
    .header-top { display: none; }

    .header-bottom .menu a {
        color: white;
        text-decoration: none;
    }

    .header-bottom .menu a:hover {
        color: #F9AA01;
        text-decoration: none;
    }

    .menu, .user-menu {
        display: block;
    }

    .header-top {
        display: block;
        height: 50px;
        border-bottom: 1px solid #F9AA01;
    }

    .contacts, .phone, .email {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-hamburger, .more-items {
        display: none;
    }
}
