@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

body {
    background-color: bisque;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}

header {
    background-color: grey;
}

header h1 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

/* É possível referenciar mais de uma tag no CSS, como por exemplo a header e o h1 que está dentro da header */

.grid-layout {
    margin: 0 auto;
    width: 80%;
}

main {
    width: 80%;
}

header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

header h1 #logo-ux {
    font-family: 'Titillium Web', cursive;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

main section img {
    width: 100%;
}

h2 {
    margin-bottom: 30px;
    margin-top: 50px;
    padding: 10px;
}

/* aside {
    width: 20%;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    alig
} */

/* O # se refere a um id */
/* O . se refere a uma classe */

/* PADDING: Espaçamento interno */
/* MARGIN: Espaçamento externo */