@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

/* Ao fazer um site sempre faça o reset de propriedades */

/* Reset de propriedades */
* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}

header {
    background-color: #676767;
}

header h1 {
    font-family: 'Titillium Web', sans-serif;
}

main h1, main h2, main h3, main p {
    color: #676767;
}

/* É possível referenciar mais de uma tag no CSS, como por exemplo a header e o h1 que está dentro da header */

.grid-layout {
    margin: 0 auto;
    width: 80%;
}

/* HEADER */

header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

header h1 #logo-ux {
    font-family: 'Titillium Web', cursive;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

/* MAIN */

main {
    background-color: #EDECED;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

main .colunas-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

article, section {
    background-color: white;
}

aside article h3 {
    display: flex;
    justify-content: center;
}

#lapis {
    width: 100%;
}

/* Section */
.coluna1 {
    width: 75%;
}

/* Aside */
.coluna2 {
    border: 2px solid blueviolet;
    width: 23%;
}

/* FOOTER */
footer {
    background-color: #676767;
    color: #EDECED;
    height: 65px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* cores:
background main = #EDECED
background header = #676767
*/

/* colors:
background main = rgb(78, 110, 129)
background header, article = rgb(46, 56, 64)
*/


/* margin: 10px; = top bottom right left */
/* margin: 0 10px; =  top/bottom - right/left */
/* margin: 0 20px 10px; =  top - right/left - bottom */
/* margin: 0 30px 20px 10px; = top - right - bottom - left */

/* O # se refere a um id */
/* O . se refere a uma classe */

/* PADDING: Espaçamento interno */
/* MARGIN: Espaçamento externo */