@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Reset de propriedades */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Grid Layout */
.grid-layout {
    width: 80%;
    margin: 0 auto;
}

/* ========= HEADER ========= */
header {
    background-color: #F9003D;
    height: 60px;
}

header div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}


/* ========= Banner Section ========= */
#banner {
    background-image: url('assets/imagem-fundo-banner.png');
    background-size: cover;
    background-attachment: fixed;
    /* background-color: black; */
    display: flex;
    align-items: center;
    height: 740px;
}

#titulo {
    width: 545px;
}

#titulo h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 96px;
}

#titulo hr {
    border-color: #FFAF00;
    margin-top: 20px;
    margin-bottom: 30px;
}

#titulo h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    color: #F9003D;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#projetos {
    height: 800px;
    background-color: #080324;
}

#projetos h1 {
    font-family: 'Bebas Neue', cursive;
    color: #F9003D;
    font-size: 64px;
    font-weight: 100;
    padding-top: 60px;
}   
